*.app
RFIDBook/bin/RFIDBookDebug.app
RFIDBook/bin/RFIDBook.app
bookLoader/bookLoader.xcodeproj/project.xcworkspace/contents.xcworkspacedata
bookLoader/bookLoader.xcodeproj/project.xcworkspace/xcuserdata/tterb.xcuserdatad/UserInterfaceState.xcuserstate
bookLoader/bookLoader.xcodeproj/xcshareddata/xcschemes/bookLoader Debug.xcscheme
bookLoader/bookLoader.xcodeproj/xcshareddata/xcschemes/bookLoader Release.xcscheme
bookLoader/bookLoader.xcodeproj/xcuserdata/tterb.xcuserdatad/xcschemes/xcschememanagement.plist

*.mov

RFIDBook/bin/data/assets/en/cerberus-open.png

*.png
RFIDBook/bin/data/assets/en/*
RFIDBook/bin/data/assets/fr/*
RFIDBook/bin/data/assets/common/*
RFIDBook/bin/data/assets/fonts/*

*.png
