body, table td{
	font-family:sans-serif;
	font-size:0.75em;

	font-weight: bold;
	letter-spacing:0.1em;
}
body{
	background-color:eeeeee;
	margin:50px;
}
td, div{
	padding: 3px;
	margin: 2px;
	box-shadow: #888 1px 1px 4px;
}
.green{
	background-color:#aaffaa;
}
.red{
	background-color:#FFAAAA;
}
.yellow{
	background-color: #ffffaa;
}
img{
	height:64px;
}
div.folder{
	width:96px;
	position:relative;
}
.table2{
	margin-top:40px;
}